@import url('https://fonts.googleapis.com/css?family=Orbitron');


body{
	margin:40px;
	background-color: black;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         
}
.calculator-display{
	width:265px;
	margin: 0 auto;
	background-color: #232323;
	border:5px groove silver;
	border-radius: 26px;
	font-family: 'Orbitron', sans-serif;
	color:white;
	box-shadow: 3px 3px 6px silver, -6px 3px 5px silver;
}


.calculator-body{	
	margin:0 auto;
	width:265px;
	height:300px;
	background-color:#232323;
	display:grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap:12px;
	border-radius:24px;
}

.calc{
  grid-column-start: 2;
  grid-column-end: 2 span;
}

button{
	display:block;
	font-size:15px;
	background-color: rgba(0,0,0,0.2);
	border-radius:15px;
	font-family: 'Orbitron', sans-serif;
	color:white;
	transition: all 200ms ease-out;
	outline:none;
	box-shadow: 0 2px 2px 1px #999;

}

button::-moz-focus-inner {
   border: 0;
}

button:hover{
	box-shadow: 0 0 6px rgba(35, 173, 255, 1);
}

button:active{
	transform: translateY(2px);
}

.calc{
	background-color:#E84F5A;
}

.plus,.minus,.multiplication,.divide,.float{
	background-color: #222222;
}

.display-nums{
	font-size:22px;
	padding: 22px;
    border: 2px groove silver;
    border-radius:20px;
    height:20px;

}

.error{
	display:block;
	font-size:10px;
    margin: 0 auto;
    border: 2px groove silver;
    padding: 10px;
    border-radius: 6px;
    width: 75px;
    margin-bottom: 16px;
    text-align: center;
    background-color: green;
}


h1{
	text-align: center;
	font-size:20px;
	color:white;
}


@media screen and (max-width: 340px) {
	body{
		margin:10px 0 0 0;
	}
}